@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,600,700);
body {
  min-width: 250px;
  margin: 0;
  padding: 0;
  color: #444;
  background: #FFF5C4 url(../img/cardboard.png);
  font: 100%/1.7 Verdana, Roboto, 'Open Sans', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, sans-serif;
  /* www.transparenttextures.com/cardboard.html */
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl {
  margin: 1rem auto 1rem auto;
  padding: 0;
  font-weight: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', 'Avenir Next', 'Avenir', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック体', 'Yu Gothic', 'メイリオ', Meiryo, Osaka, sans-serif;
  font-weight: 400;
}
article,
section {
  font-size: 1em;
}
article > h1 {
  font-size: 2.4em;
}
article > h2 {
  font-size: 2.2em;
}
article > h3 {
  font-size: 2em;
}
article > h4 {
  font-size: 1.8em;
}
article > h5 {
  font-size: 1.6em;
}
article p,
article ul,
article dl {
  margin: auto .8em;
}
article ul {
  list-style-type: none;
}
section > h1 {
  font-size: 2.2em;
}
section > h2 {
  font-size: 2em;
}
section > h3 {
  font-size: 1.8em;
}
section > h4 {
  font-size: 1.6em;
}
/* www.transparenttextures.com/black-linen.html */
/* www.transparenttextures.com/clean-gray-paper.html */
a {
  color: #0095dd;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
a:visited {
  color: #5db7e3;
}
a:hover {
  color: #5db7e3;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.header {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  box-shadow: 0 2px 3px #333;
  background: #9c9175 url(../img/black-linen.png);
}
.header__title {
  margin: 0 auto;
  text-align: center;
  font: 2.8em/1.2 'Josefin Sans', 'Avenir Next', 'Avenir';
  font-weight: 600;
  letter-spacing: 2px;
}
.header__title > a {
  display: inline-block;
  padding: 0;
  color: #ff8a24;
  text-decoration: none;
}
.nav {
  background: #9c9175 url(../img/black-linen.png);
}
.nav__link {
  cursor: pointer;
  display: inline-block;
  padding: 1rem .5rem;
  color: #9addff;
  font-family: 'Josefin Sans';
  font-weight: 600;
}
.nav__link--active {
  color: #5DB7E3;
  font-weight: 400;
}
.nav__list {
  margin: 0;
  list-style-type: none;
  position: relative;
  top: 0;
  z-index: 99;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  -o-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}
.nav__item {
  margin: 0;
}
.nav--fixed {
  box-shadow: 0 2px 3px #333;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.main {
  margin: 1rem 8px;
  font-size: 1em;
}
.article--show {
  display: block;
}
.article--hide {
  display: none;
}
.article > h1,
.article > h2,
.article > h3 {
  margin-top: 0;
}
.menu__list {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  -o-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: strech;
  -moz-align-items: strech;
  -ms-align-items: strech;
  -o-align-items: strech;
  align-items: strech;
}
.menu__item {
  margin: 0 0 8px 0;
  padding: 8px 0;
  width: 140px;
  color: #424242;
  line-height: 1.1;
  background: #fff0cc url(../img/clean-gray-paper.png);
  box-shadow: 1px 2px 3px #bbb;
}
.menu__item > h3,
.menu__item > h4 {
  margin: 4px 2px;
  padding: 0;
  text-align: center;
  font-weight: normal;
}
.menu__item > h3 {
  font-weight: 400;
}
.menu__item > h4 {
  font-size: 1.5ex;
  font-weight: 300;
}
.menu__item > img {
  display: block;
  width: 95%;
  margin: 0 auto;
}
.price {
  text-align: right;
  font-family: 'Josefin Sans', sans-serif;
}
.jpy::before {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  content: '¥';
}
.eur::before {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  content: '€';
}
.footer {
  margin: 0;
  padding: 1rem;
  color: #FFF5C4;
  background: #9c9175 url(../img/black-linen.png);
}
.footer__say {
  text-align: center;
}
.footer::before {
  display: block;
  clear: both;
  content: '';
}
.share__list {
  list-style-type: none;
  line-height: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -o-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  -o-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  -o-align-items: flex-end;
  align-items: flex-end;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-align-content: flex-end;
  -o-align-content: flex-end;
  align-content: flex-end;
}
.share__item {
  margin: 2px 2px;
  padding: 0;
}
#syaro--pyonpyon {
  width: 45%;
  float: left;
}
#ar1::after {
  display: block;
  clear: both;
  content: '';
}
@media (max-width: 425px) {
  .menu__list {
    margin: 0;
    padding: 0;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    -o-align-items: flex-end;
    align-items: flex-end;
  }
  .menu__item {
    margin: 0 0 8px 0;
  }
  .menu__item > h3 {
    font-weight: 600;
  }
}
@media (min-width: 426px) and (max-width: 768px) {
  .nav {
    margin: 0 auto;
  }
  .nav__list {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .menu__item {
    margin: 0 0 1rem 0;
  }
}
@media (min-width: 769px) {
  .main,
  .article {
    max-width: 768px;
    margin: 0 auto;
    font-size: 110%;
  }
  .main {
    margin: 0 auto;
    padding: 1rem;
  }
  .nav {
    width: 100%;
  }
  .nav__list {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    justify-content: space-around;
    max-width: 768px;
    margin: 0 auto;
    overflow: visible;
  }
  .menu__list {
    font-size: 1rem;
  }
  .menu__item {
    margin: 0 0 1rem 0;
    width: 156px;
  }
}

/*# sourceMappingURL=style.css.map */